# Ignore Intermediate files
Intermediate/
Saved/
DerivedDataCache/

# Ignore binaries
Binaries/

# Ignore built data
*.suo
*.user
*.userprefs
*.sln
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# Ignore assets (optional)
Content/Assets**

# Ignore Platforms
Platforms/

# Ignore .idea
.idea/

# Ignore .vsconfig
.vsconfig